[Unit]
Description=SynthOS service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10

# Change these
User=ubuntu
Group=ubuntu
# e.g. /home/ubuntu/dev/synthos
WorkingDirectory=/path/to/synthos
# e.g. /home/ubuntu/dev/synthos/cmd/synthos
ExecStart=/usr/local/go/bin/go run /path/to/synthos/cmd/synthos

[Install]
WantedBy=multi-user.target
